Makefile
*.in
aclocal.m4
autom4te.cache/
config.guess
config.h.in~
config.sub
config.h
config.log
config.status
configure
depcomp
install-sh
ltmain.sh
libtool
missing
stamp-h1
*.o
*.la
*.lo
.deps
.libs
jhton
src/Judy1/*.c
src/JudyL/*.c
src/Judy*/Judy*TablesGen
doc/J*
